<div class="container mt-5">
  <h1>Editing article</h1>

  <%= render "form" %>
</div>

<div class="mt-2">
  <%= link_to "Show", article_path(@article) %>
  <%= link_to "Back", articles_path %>
</div>
